@charset "UTF-8";
/*css 註解*/
.aa {
  font-size: 20px;
}

.c {
  font-size: 40px;
}

.box {
  margin: auto;
  width: 400px;
  height: 300px;
  background-color: #ff0000;
}

.box1 {
  margin: auto;
  width: 400px;
  height: 700px;
  background-color: #00d5ff;
}

.box2 {
  margin: auto;
  width: 700px;
  height: 300px;
  background-color: #900043;
}

section.intro {
  width: 90%;
  margin: auto;
  background-color: #333;
  height: 400px;
}

.box4 {
  width: 600px;
  height: 600px;
}

h1.Maintitle {
  font-size: 100px;
  font-weight: bold;
  width: 100%;
  min-width: 350px;
  text-align: center;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1.Maintitle::before {
  content: "|";
  color: #fff;
}
h1.Maintitle::after {
  content: "|";
  color: #fff;
}
@media screen and (max-width: 1024px) {
  h1.Maintitle {
    font-size: 80px;
    color: #fed400;
  }
}
@media screen and (max-width: 996px) {
  h1.Maintitle {
    font-size: 60px;
    color: #fff3f3;
  }
}
@media screen and (max-width: 768px) {
  h1.Maintitle {
    font-size: 40px;
    color: #00d2d2;
  }
}

.card {
  border-radius: 10px;
  width: 430px;
  height: 140px;
  background-color: #900043;
  box-shadow: 1px 1px 10px #ffffff;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .card {
    background-color: #fed400;
    width: 100%;
  }
}

.test {
  padding: 10px;
  text-align: center;
}

.btn {
  border-radius: 8px;
  text-align: center;
  padding: 8px;
  color: #333;
  cursor: pointer;
  transition: 0.3s all ease;
}
.btn--primary {
  background-color: #ff6a00;
  color: #fff;
}
.btn--primary:hover {
  background-color: rgb(204, 84.8, 0);
}
.btn--xl {
  padding: 12px 30px;
}
.btn--round {
  border-radius: 30px;
}

.btn-default {
  text-align: center;
  color: #333;
  cursor: pointer;
  transition: 0.3s all ease;
  width: 180px;
  padding: 10px;
  background-color: #ff7300;
  border-radius: 10px;
}
.btn-default:hover {
  background-color: rgb(178.5, 80.5, 0);
}

.btn-primary {
  text-align: center;
  color: #333;
  cursor: pointer;
  transition: 0.3s all ease;
  width: 180px;
  padding: 10px;
  background-color: #008cff;
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: rgb(0, 98, 178.5);
}

h1 {
  font-size: 48px;
}

h1 {
  font-size: 80px;
  font-weight: 700;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

h3 {
  font-size: 48px;
  font-weight: 700;
}

h4 {
  font-size: 32px;
  font-weight: 700;
}

h5 {
  font-size: 24px;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffbf00;
}
header .logo {
  width: 100px;
  height: 40px;
  background-color: #333;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  padding: 10px 20px;
}
header nav ul li a {
  color: #333;
  text-decoration: none;
}
header .login {
  display: none;
}

.login {
  display: none;
}

body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #ecffa1;
  background-color: blue;
}

.goood {
  background-color: #a2ff00;
}

.ba {
  margin: 0;
}

.banners {
  background-image: url("./images/a.jpg");
}

.container {
  width: 100%;
  height: auto;
}
.wrapper {
  width: 100%;
  background-color: #ffcc89;
}

.w {
  width: 20px;
  height: 80em;
  padding: 100px;
  font: 2px;
}

.space-top-1 {
  margin-top: 1px;
}

.space-top-2 {
  margin-top: 2px;
}

.space-top-3 {
  margin-top: 3px;
}

.space-top-4 {
  margin-top: 4px;
}

.space-top-5 {
  margin-top: 5px;
}

.space-top-6 {
  margin-top: 6px;
}

.space-top-7 {
  margin-top: 7px;
}

.space-top-8 {
  margin-top: 8px;
}

.space-top-9 {
  margin-top: 9px;
}

.space-top-10 {
  margin-top: 10px;
}

.space-top-11 {
  margin-top: 11px;
}

.space-top-12 {
  margin-top: 12px;
}

.space-top-13 {
  margin-top: 13px;
}

.space-top-14 {
  margin-top: 14px;
}

.space-top-15 {
  margin-top: 15px;
}

.space-top-16 {
  margin-top: 16px;
}

.space-top-17 {
  margin-top: 17px;
}

.space-top-18 {
  margin-top: 18px;
}

.space-top-19 {
  margin-top: 19px;
}

.space-top-20 {
  margin-top: 20px;
}

.space-top-21 {
  margin-top: 21px;
}

.space-top-22 {
  margin-top: 22px;
}

.space-top-23 {
  margin-top: 23px;
}

.space-top-24 {
  margin-top: 24px;
}

.space-top-25 {
  margin-top: 25px;
}

.space-top-26 {
  margin-top: 26px;
}

.space-top-27 {
  margin-top: 27px;
}

.space-top-28 {
  margin-top: 28px;
}

.space-top-29 {
  margin-top: 29px;
}

.space-top-30 {
  margin-top: 30px;
}

.space-top-31 {
  margin-top: 31px;
}

.space-top-32 {
  margin-top: 32px;
}

.space-top-33 {
  margin-top: 33px;
}

.space-top-34 {
  margin-top: 34px;
}

.space-top-35 {
  margin-top: 35px;
}

.space-top-36 {
  margin-top: 36px;
}

.space-top-37 {
  margin-top: 37px;
}

.space-top-38 {
  margin-top: 38px;
}

.space-top-39 {
  margin-top: 39px;
}

.space-top-40 {
  margin-top: 40px;
}

.space-top-41 {
  margin-top: 41px;
}

.space-top-42 {
  margin-top: 42px;
}

.space-top-43 {
  margin-top: 43px;
}

.space-top-44 {
  margin-top: 44px;
}

.space-top-45 {
  margin-top: 45px;
}

.space-top-46 {
  margin-top: 46px;
}

.space-top-47 {
  margin-top: 47px;
}

.space-top-48 {
  margin-top: 48px;
}

.space-top-49 {
  margin-top: 49px;
}

.space-top-50 {
  margin-top: 50px;
}

.space-bottom-1 {
  margin-bottom: 1px;
}

.space-bottom-2 {
  margin-bottom: 2px;
}

.space-bottom-3 {
  margin-bottom: 3px;
}

.space-bottom-4 {
  margin-bottom: 4px;
}

.space-bottom-5 {
  margin-bottom: 5px;
}

.space-bottom-6 {
  margin-bottom: 6px;
}

.space-bottom-7 {
  margin-bottom: 7px;
}

.space-bottom-8 {
  margin-bottom: 8px;
}

.space-bottom-9 {
  margin-bottom: 9px;
}

.space-bottom-10 {
  margin-bottom: 10px;
}

.space-bottom-11 {
  margin-bottom: 11px;
}

.space-bottom-12 {
  margin-bottom: 12px;
}

.space-bottom-13 {
  margin-bottom: 13px;
}

.space-bottom-14 {
  margin-bottom: 14px;
}

.space-bottom-15 {
  margin-bottom: 15px;
}

.space-bottom-16 {
  margin-bottom: 16px;
}

.space-bottom-17 {
  margin-bottom: 17px;
}

.space-bottom-18 {
  margin-bottom: 18px;
}

.space-bottom-19 {
  margin-bottom: 19px;
}

.space-bottom-20 {
  margin-bottom: 20px;
}

.space-bottom-21 {
  margin-bottom: 21px;
}

.space-bottom-22 {
  margin-bottom: 22px;
}

.space-bottom-23 {
  margin-bottom: 23px;
}

.space-bottom-24 {
  margin-bottom: 24px;
}

.space-bottom-25 {
  margin-bottom: 25px;
}

.space-bottom-26 {
  margin-bottom: 26px;
}

.space-bottom-27 {
  margin-bottom: 27px;
}

.space-bottom-28 {
  margin-bottom: 28px;
}

.space-bottom-29 {
  margin-bottom: 29px;
}

.space-bottom-30 {
  margin-bottom: 30px;
}

.space-bottom-31 {
  margin-bottom: 31px;
}

.space-bottom-32 {
  margin-bottom: 32px;
}

.space-bottom-33 {
  margin-bottom: 33px;
}

.space-bottom-34 {
  margin-bottom: 34px;
}

.space-bottom-35 {
  margin-bottom: 35px;
}

.space-bottom-36 {
  margin-bottom: 36px;
}

.space-bottom-37 {
  margin-bottom: 37px;
}

.space-bottom-38 {
  margin-bottom: 38px;
}

.space-bottom-39 {
  margin-bottom: 39px;
}

.space-bottom-40 {
  margin-bottom: 40px;
}

.space-bottom-41 {
  margin-bottom: 41px;
}

.space-bottom-42 {
  margin-bottom: 42px;
}

.space-bottom-43 {
  margin-bottom: 43px;
}

.space-bottom-44 {
  margin-bottom: 44px;
}

.space-bottom-45 {
  margin-bottom: 45px;
}

.space-bottom-46 {
  margin-bottom: 46px;
}

.space-bottom-47 {
  margin-bottom: 47px;
}

.space-bottom-48 {
  margin-bottom: 48px;
}

.space-bottom-49 {
  margin-bottom: 49px;
}

.space-bottom-50 {
  margin-bottom: 50px;
}

.space-left-1 {
  margin-left: 1px;
}

.space-left-2 {
  margin-left: 2px;
}

.space-left-3 {
  margin-left: 3px;
}

.space-left-4 {
  margin-left: 4px;
}

.space-left-5 {
  margin-left: 5px;
}

.space-left-6 {
  margin-left: 6px;
}

.space-left-7 {
  margin-left: 7px;
}

.space-left-8 {
  margin-left: 8px;
}

.space-left-9 {
  margin-left: 9px;
}

.space-left-10 {
  margin-left: 10px;
}

.space-left-11 {
  margin-left: 11px;
}

.space-left-12 {
  margin-left: 12px;
}

.space-left-13 {
  margin-left: 13px;
}

.space-left-14 {
  margin-left: 14px;
}

.space-left-15 {
  margin-left: 15px;
}

.space-left-16 {
  margin-left: 16px;
}

.space-left-17 {
  margin-left: 17px;
}

.space-left-18 {
  margin-left: 18px;
}

.space-left-19 {
  margin-left: 19px;
}

.space-left-20 {
  margin-left: 20px;
}

.space-left-21 {
  margin-left: 21px;
}

.space-left-22 {
  margin-left: 22px;
}

.space-left-23 {
  margin-left: 23px;
}

.space-left-24 {
  margin-left: 24px;
}

.space-left-25 {
  margin-left: 25px;
}

.space-left-26 {
  margin-left: 26px;
}

.space-left-27 {
  margin-left: 27px;
}

.space-left-28 {
  margin-left: 28px;
}

.space-left-29 {
  margin-left: 29px;
}

.space-left-30 {
  margin-left: 30px;
}

.space-left-31 {
  margin-left: 31px;
}

.space-left-32 {
  margin-left: 32px;
}

.space-left-33 {
  margin-left: 33px;
}

.space-left-34 {
  margin-left: 34px;
}

.space-left-35 {
  margin-left: 35px;
}

.space-left-36 {
  margin-left: 36px;
}

.space-left-37 {
  margin-left: 37px;
}

.space-left-38 {
  margin-left: 38px;
}

.space-left-39 {
  margin-left: 39px;
}

.space-left-40 {
  margin-left: 40px;
}

.space-left-41 {
  margin-left: 41px;
}

.space-left-42 {
  margin-left: 42px;
}

.space-left-43 {
  margin-left: 43px;
}

.space-left-44 {
  margin-left: 44px;
}

.space-left-45 {
  margin-left: 45px;
}

.space-left-46 {
  margin-left: 46px;
}

.space-left-47 {
  margin-left: 47px;
}

.space-left-48 {
  margin-left: 48px;
}

.space-left-49 {
  margin-left: 49px;
}

.space-left-50 {
  margin-left: 50px;
}

.bar1 {
  background-color: rgb(25.5, 25.5, 25.5);
  width: 300px;
  height: 60px;
}

.bar2 {
  background-color: #333333;
  width: 300px;
  height: 60px;
}

.bar3 {
  background-color: rgb(76.5, 76.5, 76.5);
  width: 300px;
  height: 60px;
}

.bar4 {
  background-color: #666666;
  width: 300px;
  height: 60px;
}

.bar5 {
  background-color: rgb(127.5, 127.5, 127.5);
  width: 300px;
  height: 60px;
}

.bar6 {
  background-color: #999999;
  width: 300px;
  height: 60px;
}

.bar7 {
  background-color: rgb(178.5, 178.5, 178.5);
  width: 300px;
  height: 60px;
}

.bar8 {
  background-color: #cccccc;
  width: 300px;
  height: 60px;
}

.bar9 {
  background-color: rgb(229.5, 229.5, 229.5);
  width: 300px;
  height: 60px;
}

.bar10 {
  background-color: white;
  width: 300px;
  height: 60px;
}

/*# sourceMappingURL=style.css.map */
