// @import url('path/a.css'); css import
// 共用設定
@import 'var';
@import 'base/setting';
@import 'base/color';
@import 'base/font';

// 複用樣式 mixin
@import 'mixin/mixin';

//  組件component
@import 'component/btn';
@import 'component/card';
@import 'component/title';

// layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/login';
@import 'layout/body';
@import 'layout/banner';

// page
@import 'page/index';
@import 'page/product';

// plugin
@import 'plugin/swiper';


// ceil 無條件進位 / round 四捨五入 / floor 無條件捨去 
//單位
.w {
  width: 10 + 10 + px;
  height: 100em - 20;
  padding: 10px * 10;
  font: ceil(40 / 24) + px;
}


// for
// $dir : top left right bottom 
@mixin spacing($num ,$dir) {
  @for $i from 1 through $num {
    .space-#{$dir}-#{$i} {
      margin-#{$dir}: $i +px;
    }
  }
}


@include spacing(50,top);
@include spacing(50,bottom);
@include spacing(50,left);


@for $i from 1 through 10 {
  .bar#{$i} {
    background-color: lighten(#000000, $i* 10);
    width: 300px;
    height: 60px;
  }
}