// nesting
.container {
    width: 100%;
    height: auto;

    section {
    }

}

.wrapper {
    @if $full {
        width: 100%;
    }

    @else {
        width: 1200px;
        margin: auto;
    }

    background-color: #ffcc89;


}